# Task 1 - Generate Alarms Data

The following code snippet was used to generate the mock-up alarm frequency and reginal information, which that were used as examples in the lecture last week. Run the code with your student ID as seed variable and generate your own (random) data

In [162]:
# load library
library(tidyverse)

# set random seed
seed <- 686249907 # <Replaced '765' with my student ID here.>
set.seed(seed)

# generate alarm id, dates and region vectors
alarms_id.vt <- paste0('alarms_', sample(LETTERS, size = 10, replace = FALSE))
alarms_dates.vt <- paste0('d.',seq(Sys.Date()-60, Sys.Date(), by = '1 day'))  # 60 days back.
alarms_region.vt <- c('AKL_North', 'AKL_Central', 'Waiheke','AKL_South', 'AKL_Others')

# generate random alarm frequency counts
alarms_count.mt <- matrix(round(runif(length(alarms_id.vt) * length(alarms_dates.vt))*seed),
                          nrow = length(alarms_id.vt), ncol=length(alarms_dates.vt))
colnames(alarms_count.mt) <- alarms_dates.vt

# set up data frames
alarms_count.df <- data.frame(alarm_id = alarms_id.vt, alarms_count.mt)
alarms_info.df <- data.frame(alarm_ID = alarms_id.vt, alarms_region = alarms_region.vt)

# Task 2 - `{tidyverse}` Operations

Use the data generated to answer the following question: what is the average number of alarms per day in each region?

In [163]:
alarms_insight.df = alarms_count.df %>%
    pivot_longer(-alarm_id, names_to='date', values_to='frequency') %>%
    left_join(alarms_info.df, by=c('alarm_id' = 'alarm_ID')) %>%
    group_by(date, alarms_region) %>%
    summarise(avg_count = mean(frequency)) %>%
    separate(date, c('prefix','year','month','day')) %>%
    select(-prefix)

`summarise()` has grouped output by 'date'. You can override using the `.groups` argument.

In [164]:
alarms_insight.df

    year month day alarms_region avg_count
1   2022 01    07  AKL_Central   404216498
2   2022 01    07  AKL_North     390631160
3   2022 01    07  AKL_Others    321501920
4   2022 01    07  AKL_South     273605540
5   2022 01    07  Waiheke       545564040
6   2022 01    08  AKL_Central   524049658
7   2022 01    08  AKL_North     316742309
8   2022 01    08  AKL_Others    171393187
9   2022 01    08  AKL_South     459933812
10  2022 01    08  Waiheke       566158320
11  2022 01    09  AKL_Central   357655234
12  2022 01    09  AKL_North     310978298
13  2022 01    09  AKL_Others    525591878
14  2022 01    09  AKL_South     254867997
15  2022 01    09  Waiheke       378910289
16  2022 01    10  AKL_Central   313730518
17  2022 01    10  AKL_North     537904401
18  2022 01    10  AKL_Others    555072654
19  2022 01    10  AKL_South     584490574
20  2022 01    10  Waiheke       162342754
21  2022 01    11  AKL_Central   588575370
22  2022 01    11  AKL_North     395243417
23  2022 01    11  AKL_Others    544542323
24  2022 01    11  AKL_South     405684703
25  2022 01    11  Waiheke       288114078
26  2022 01    12  AKL_Central   363421186
27  2022 01    12  AKL_North     366368832
28  2022 01    12  AKL_Others    342411466
29  2022 01    12  AKL_South     444587801
30  2022 01    12  Waiheke       532102250
⋮   ⋮    ⋮     ⋮   ⋮             ⋮
276 2022 03    03  AKL_Central   442880208
277 2022 03    03  AKL_North     509858014
278 2022 03    03  AKL_Others    236514590
279 2022 03    03  AKL_South     666186214
280 2022 03    03  Waiheke       512126668
281 2022 03    04  AKL_Central   409359428
282 2022 03    04  AKL_North     463078036
283 2022 03    04  AKL_Others    464134552
284 2022 03    04  AKL_South     108520557
285 2022 03    04  Waiheke       149532680
286 2022 03    05  AKL_Central   310662183
287 2022 03    05  AKL_North      66314590
288 2022 03    05  AKL_Others    233997706
289 2022 03    05  AKL_South     294177968
290 2022 03    05  Waiheke       179080156
291 2022 03    06  AKL_Central   288127110
292 2022 03    06  AKL_North     526912454
293 2022 03    06  AKL_Others    372609197
294 2022 03    06  AKL_South      95036126
295 2022 03    06  Waiheke       376845210
296 2022 03    07  AKL_Central   297490214
297 2022 03    07  AKL_North     452086944
298 2022 03    07  AKL_Others    324125840
299 2022 03    07  AKL_South     348098438
300 2022 03    07  Waiheke       377673714
301 2022 03    08  AKL_Central   529988500
302 2022 03    08  AKL_North     176984974
303 2022 03    08  AKL_Others    244552858
304 2022 03    08  AKL_South     496592344
305 2022 03    08  Waiheke       363324694

# Task 3: Date operation using `{lubridate}`

Use the data generated to answer the following question: which days of the week has the highest and the lowest average number of alarms across the entire Auckland?

Hint: guess what, there is a cheat sheet.

In [165]:
library(lubridate)

In [166]:
avg_alarms_per_weekday <- alarms_insight.df %>%
    unite(date, year, month, day, sep='-') %>%
    mutate(weekday = wday(date, label=T, abbr=F)) %>%
    group_by(weekday) %>%
    summarise(max_avg=max(avg_count), min_avg=min(avg_count))

Average number of alarms across all regions, sorted by **maximum** average.

In [167]:
avg_alarms_per_weekday[order(avg_alarms_per_weekday$max_avg),]

  weekday   max_avg   min_avg
1 Sunday    526912454  36545567
2 Saturday  566158320  44884958
3 Wednesday 621904651  75038223
4 Monday    635515190 105728908
5 Friday    636532446  22162170
6 Tuesday   647938858  61954680
7 Thursday  666186214  52402932

Average number of alarms across all regions, sorted by **minimum** average.

In [168]:
avg_alarms_per_weekday[order(avg_alarms_per_weekday$min_avg),]

  weekday   max_avg   min_avg
1 Friday    636532446  22162170
2 Sunday    526912454  36545567
3 Saturday  566158320  44884958
4 Thursday  666186214  52402932
5 Tuesday   647938858  61954680
6 Wednesday 621904651  75038223
7 Monday    635515190 105728908

# Task 4: Retrospective

Write a short paragraph summarising your experience and comments about using {tidyverse} for data wrangling tasks.

_I had a fantastic experience using tidyverse for these data wrangling tasks. R and tidyverse provide a much smoother and faster experience than other data analysis tools that I have experience with, like Excel and Python. It seems that the basic functions provided by tidyverse fill the same niche that I have used SQL and SQL-like languages for in the past. I like that the piping format of tidyverse operations matches the SQL `select` function and its downstream modifiers. The various tidyverse documentation sites and Stackoverflow forum questions make troubleshooting easy._

## EOF